.card {
    position: relative;
    background-color: whitesmoke;
    min-width: 500px;
    min-height: 150px;
    height: auto;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 2px rgba(0,0,0,0.1);
    margin: 15px;
    border-color: #88ab79;
    border: 3px;
    flex-direction: column;
}

.card-title {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: #88ab79;
    font-size: 20px;
    margin: 12px;
}

.date {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    align-self: flex-start;
    color: #88ab79;
}

.button {
    border-radius: 10px;
    background-color: #88ab79;
    border-color: #88ab79;
    color: white;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}